div {
    display: block;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

p {
    font-size: 14px;
}

.post__editBtn {
    padding: 5px 14px;
    border-radius: 20px;
    border: 1px solid var(--color-primary) !important;
    background-color: white;
    color: var(--color-muted);
    outline: none !important;
    transition: 0.3s;
}

.post__delBtn {
    margin-left: 5px;
    padding: 5px 14px;
    border-radius: 20px;
    border: 1px solid var(--color-deep-red) !important;
    background-color: white;
    color: var(--color-muted);
    outline: none !important;
    transition: 0.3s;
}

.post__editBtn:hover {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    transform: scale(1.01);
}
.post__delBtn:hover {
    box-shadow: 0px 0px 5px rgba(241, 4, 4, 0.822);
    transform: scale(1.01);
}

.post__delAlert {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: white;
    height: 150px;
    width: 300px;
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(39, 39, 39, 0.822);

    border-top: 30px solid rgba(241, 4, 4, 0.822);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

.post__delAlert--button {
    padding: 5px 14px;
    border-radius: 16px;
    outline: none !important;
    transition: 0.3s;
    border-width: 1px;
    border-style: solid;
}

.post__delAlert--cancel {
    border-color: var(--color-primary);
    background-color: var(--color-primary);
    color: white;
    margin-right: 5px;
}
.post__delAlert--delete {
    border-color: var(--color-deep-red);
    background-color:var(--color-deep-red);
    color: white;
}



.post__cataArea {
    display: flex;
    margin-bottom: 30px;
}

.post__cata {
    font-size: 15px;
    padding: 1px 7px;
    margin-right: 7px;
    border: 1px solid #b3d7ff;
    /* background: rgb(0 123 255 / 50%); */
    /* background-color: var(--color-primary); */
    background-color: #8e97ff ;
    border-radius: 3px;
}



.img-in-post {
    max-width: 100%;
    max-height: 100%;
    display: block;
    border-radius: 10px;
    margin-block: 30px;
}

*,
::after,
::before {
    box-sizing: border-box;
}

.bg-grey {
    background-color: #f2f5f5;
}



/* about author */
.about-author-img {
    border-radius: 50%;
    width: 64px;
    width: 64px;
    box-shadow: 0 2px 4px var(--button-shadow-color-normal),0 0 0 transparent;
}


/* author */

/* .author-info {
    padding: 30px;
    border: 1px;
    border-radius: 10px;
    background-color: white;
}

.author-name {
    text-align: left;
}

.avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-bottom: 15px;
    margin-right: 30px;
    background-size: cover;
    float: left;
}

.post-count {
    width: 20%;
    text-align: center;
    display: inline-block;

} */

/* .follower-count {
    text-align: center;
    display: block;
} */

.avatar-comment {
    max-width: 50px;
    max-height: 50px;
    vertical-align: middle;
    border-radius: 50%;
    margin-bottom: 15px;
    margin-right: 15px;
    background-size: cover;
    float: left;
    background-position: center;
}

.inline-item {
    display: inline-block;
}

.block-item {
    display: block;
}

.follow-item {
    height: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 25px;
    margin-right: 20px;
    display: inline-block;
}

.social-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: cover;
    margin-right: 5px;
    display: inline-block;
}

.social-icon:hover {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
    transition-duration: 0.25s;
}

.content-area {
    font-size: medium;
    text-align: left;
    font-weight: 400;
}

.write-by {
    /* display: block;
    margin-top: 25px;
    margin-bottom: 25px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.avatar-write-by {
    width: 40px;
    height: 40px;
    vertical-align: middle;
    border-radius: 50%;
    margin-right: 15px;
    background-size: cover;
    float: left;
    background-position: center;
}

.name-write-by {
    display: block;
    margin: auto 0;
}

.date-write-by {
    font-size: small;
    margin: auto 0;

}

.post-content img{
    object-fit: contain !important;
    width: 100%;
}

/*====================== Comment================ */

.comment-area {
    margin-top: 50px;
}

.comment-item {
    margin-bottom: 25px;
}

.comment-name {
    font-weight: 500;
    margin: 0;
    color: var(--color-primary);
}

.comment-hr {
    width: 10%;
    border: solid 2px;
}

.comment-content {
    width: 100%;
    font-size: 16px;
}

.comment-like {
    font-size: 14px;
    display: flex;
    align-items: center;
}

.comment-likebtn {
    cursor: pointer;
    
}
.comment-likebtn:hover {
    color: var(--color-primary);
}

.comment-like i {
    font-size: 12px;
}

.comment-choose {
    position: absolute;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.2);
}

.comment-choose--option {
    color: var(--color-muted);
    align-items: center;
    padding: 5px;
    border-radius: 16px;

}

.comment-choose--option:hover {
    background-color: rgba(199, 199, 199, 0.199);
}

.comment-form--edit{
    align-items: center;
    padding: 5px 0px;
    
}
.comment-form--edit input{
    border-radius: 5px;
    padding-left: 5px;
    outline: none;
    border: 1px solid var(--color-muted);
}
.comment-form--edit p {
    margin-left: 5px;
    cursor: pointer;
    text-decoration: underline;
    color: var(--color-muted);
}


.comment-form--edit p:hover {
    color: var(--color-primary);
}




.comment-input {
    box-sizing: border-box;
    display: inline-block;
    border-radius: 10px;
    border: 1px solid rgb(225, 225, 225);
    width: 90%;
    height: 50px;
    outline: none;
    font-size: 16px;
    padding: 10px;
}

.post__cmt--morecmt {
    cursor: pointer;
    text-align: center;
    margin-bottom: 30px;
    background-color: whitesmoke;
    padding: 10px 0;
    transition: 0.5s;
    color: var(--color-muted);

}

.post__cmt--morecmt:hover {
    background-color: rgba(199, 199, 199, 0.199);
}



.post__cmt--morecmt i {
    font-size: 12px;
    margin-left: 5px;
    animation: arrow 1s linear infinite;
}

@keyframes arrow {
    0%, 100% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-3px);
    }
}
/* 
@keyframes arrow {
    from{transform: translateY(-5px)}
    to{transform:translateY(0px)}
} */


/* ================MOST POPULAR================== */

.most-popular {
    padding: 30px;
    border: 1px;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 30px;
}

.most-popular:hover {
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    transition-duration: 0.25s;
}

.most-popular-hr {
    width: 30%;
    border: solid 2px;
}

.most-popular-img {
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 10px;
    vertical-align: middle;
    margin-left: 20px;
}

.most-popular-title {
    display: inline-block;
    text-align: left;
    margin-right: 20px;
    width: 60%;
}

.most-popular-date {
    font-size: small;
    vertical-align: center;
    margin-right: 8px;
}

.post-view {
    position: relative;
}

.post-view-has-pot:before {
    content: "";
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: black;
    position: absolute;
    top: 25%;
    left: -8px;
}

.post-info {
    background-color: white;
    margin-bottom: 50px;
    border-radius: 10px;
    height: 200px;
}

.post-info-count {
    font-size: 17px;
    display: flex;
    height: 60%;
}

.bookmark-count {
    flex-basis: 50%;
    margin: auto;
    text-align: center;
}

.post-info-button {
    height: 40%;
    display: flex;

}

.bookmark-btn {
    background-color: rgb(253, 253, 253);
    border: 1px solid rgb(225, 225, 225);;
    border-radius: 20px;
    width: 50%;
    height: 40px;
    text-align: center;
    margin: 5px auto;
    font-size: 16px;
    outline: none  !important;
}

.bookmark-btn:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    transition-duration: 0.25s;
}

.comment-count {
    text-align: center;
    margin-top: 30px;
    margin-left: 30px;
    vertical-align: top;
}

.right-align {
    text-align: right;
}

.left-align {
    text-align: left;
}
