div {
    display: block;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}



.post__delete-dialog {
    border-top: 30px solid var(--color-deep-red);
    padding: 10px;
    width: 300px;
}

.post__report-delete-dialog--btn-container {
    display: flex;
    justify-content: flex-end;
}

.post__delete-dialog  h5 {
    font-size: 20px;
    color: var(--color-deep-red);
}


.post__delete-dialog p {
    margin: 5px 0px 10px 0px;
}


.post__alert--report {
    border-top: 30px solid var(--color-deep-yellow);
    width: 300px;
    padding: 10px;
}


.post__report-content {
    padding: 10px 10px;
    outline: none;
    height: 100px;
    border: 1px solid;
    margin-bottom: 10px;
}

.post__alert-solve--dialog {
    border-top: 30px solid var(--color-primary);
    padding: 10px;
    width: 350px;
}



.post__category-area {
    display: flex;
    margin-bottom: 30px;
}

.post__category {
    font-size: 15px;
    padding: 1px 7px;
    margin-right: 7px;
    border: 1px solid #b3d7ff;
    background-color: #8e97ff ;
    border-radius: 3px;
}



.img-in-post {
    max-width: 100%;
    max-height: 100%;
    display: block;
    border-radius: 10px;
    margin-block: 30px;
}

*,
::after,
::before {
    box-sizing: border-box;
}

.bg-grey {
    background-color: #f2f5f5;
}



/* about author */
.about-author-img {
    border-radius: 50%;
    width: 64px;
    width: 64px;
    box-shadow: 0 2px 4px var(--button-shadow-color-normal),0 0 0 transparent;
}


.avatar-comment {
    max-width: 35px;
    min-width: 35px;
    max-height: 35px;
    min-height: 35px;
    vertical-align: middle;
    border-radius: 50%;
    margin-bottom: 15px;
    margin-right: 15px;
    background-size: cover;
    float: left;
    background-position: center;
}

.inline-item {
    display: inline-block;
}

.block-item {
    display: block;
}

.follow-item {
    height: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 25px;
    margin-right: 20px;
    display: inline-block;
}

.social-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: cover;
    margin-right: 5px;
    display: inline-block;

    &:hover {
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
        transform: scale(1.1);
        transition-duration: 0.25s;
    }
}

.content-area {
    font-size: medium;
    text-align: left;
    font-weight: 400;
}







/*====================== Comment================ */

.comment__title {
    align-items: center;
    margin-bottom: 10px;
    line-height: 20px; 
    justify-content: space-between;
}

.comment__title--name {
    font-weight: 600;
    margin: 0;
    color: black;
    margin-right: 10px;
}

.comment__title--name a:hover {
    color: black !important;
}

.comment-hr {
    width: 10%;
    border: solid 2px;
}

.comment__content {
    width: 100%;
    font-size: 16px;
    word-break: break-all;
    white-space: pre-wrap;
    margin-bottom: 10px;
    margin-right: 10px;
}

.comment__like-container {
    font-size: 14px ;
    align-items: center;

    i {
        font-size: 12px;
        margin-bottom: 4px;
    }

    .comment__like--btn {
        font-size: 14px;
    }

    .btn-primary {
        background-color: var(--color-primary);
        
    }
}


.comment__like-btn {
    cursor: pointer;
    line-height: 25px;
    vertical-align: middle;
    animation-delay: 0.3;
    padding: 5px;
    border-radius: 5px;
}


.comment__like-btn-liked {
    background-color: rgba(0, 123, 255, 0.253);
    
    i {
        color: var(--color-primary);
    }
}

.comment__like-btn-no-liked:hover {
    background-color: rgba(0,0,0,0.04)
}

.comment__choose-icon {
    border-radius: 5px;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    position: relative;

    &:hover {
        background-color: rgba(0,0,0,0.04);
    }
}

.comment__choose {
    position: absolute;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 0 1px var(--card-border);
    width: 200px;
    top: 20px;
    right: 15px;
}

.comment__choose-option {
    align-items: center;
    padding: 10px;
    font-size: 14px;
}

.comment__choose-option:hover {
    background-color: rgba(199, 199, 199, 0.199);
}

.comment-form--edit{
    align-items: center;
}

// .comment__input-submit {
//     box-sizing: border-box;
//     display: inline-block;
//     border-radius: 10px;
//     border: 1px solid rgb(225, 225, 225);
//     outline: none;
//     font-size: 16px;
//     padding: 10px;
//     flex-grow: 1;
//     background-color: #f0f2f5;
//     height: auto;
//     line-height: 24px;
//     margin-bottom: 10px;
// }



.post__cmt--morecmt {
    cursor: pointer;
    text-align: center;
    margin-bottom: 30px;
    background-color: whitesmoke;
    padding: 10px 0;
    transition: 0.5s;
    color: var(--color-muted);
    border-radius: 5px;
}

.post__cmt--morecmt:hover {
    background-color: rgba(199, 199, 199, 0.199);
}



.post__cmt--morecmt i {
    font-size: 12px;
    margin-left: 5px;
    animation: arrow 1s linear infinite;
}

@keyframes arrow {
    0%, 100% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-3px);
    }
}
/* 
@keyframes arrow {
    from{transform: translateY(-5px)}
    to{transform:translateY(0px)}
} */


/* ================MOST POPULAR================== */

.most-popular {
    padding: 30px;
    border: 1px;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 30px;

    &:hover {
        box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);
        transform: scale(1.05);
        transition-duration: 0.25s;
    }
}

.most-popular-hr {
    width: 30%;
    border: solid 2px;
}

.most-popular-img {
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 10px;
    vertical-align: middle;
    margin-left: 20px;
}

.most-popular-title {
    display: inline-block;
    text-align: left;
    margin-right: 20px;
    width: 60%;
}

.most-popular-date {
    font-size: small;
    vertical-align: center;
    margin-right: 8px;
}

.post-view {
    position: relative;
}

.post-view-has-pot:before {
    content: "";
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: black;
    position: absolute;
    top: 25%;
    left: -8px;
}

.post-info {
    margin-bottom: 50px;
    border-radius: 10px;
    height: 150px;
    color: var(--color-muted);
}

.post-info p {
    font-size: 14px;
}

.post-info .child-1 {
    border-right: 1px solid var(--color-muted);
}



.post__title {
    font-weight: 500;
    color: var(--color-primary);
}


.post-info-count {
    font-size: 17px;
    display: flex;
    height: 60%;
}

.bookmark-count {
    flex-basis: 50%;
    margin: auto;
    text-align: center;
}

.post-info-button {
    height: 40%;
    display: flex;

}

.bookmark-btn {
    height: 40px;
    text-align: center;
    margin: 5px auto;
    font-size: 16px;
    outline: none  !important;
}

.comment-count {
    text-align: center;
    margin-top: 30px;
    margin-left: 30px;
    vertical-align: top;
}

.comment-area-title {
    border-bottom: 2px solid var(--color-muted);
    display: inline-block;
    margin-bottom: 20px;
}

.right-align {
    text-align: right;
}

.left-align {
    text-align: left;
}


@keyframes btnUp {
    0%, 100% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-5px);
    }
}

// .comment__content--container {
//     background-color: #f0f2f5;
//     padding: 10px 10px;
//     border-radius: 16px;
//     margin-bottom: 5px;
// }


.background-test {
    background-color: #f0f2f5;
}

//------ version 1 ------

.post__sidebar-left {
    display: flex;
    justify-content: center;

    @media screen and (max-width: 768px) {
        justify-content: unset;
    }
}

.post__left {
    padding-top: 50px;
    position: fixed;
    z-index: 1;

    div {
        padding: 0 10px;
        margin-bottom: 10px;
        font-size: 14px;

        i {
            font-size: 18px;
            text-align: center;
            height: 35px;
            width: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            margin-right: 0px !important;
        }
        //using when this post is not bookmarked, it will change color when hover it
        .post__left--bookmark-icon {
            &:hover {
                background-color: rgba(0, 123, 255, 0.1);
                color: rgb(0, 123, 255);
            }
        }
        //using when this post is bookmarked, it will not change color when hover it
        .post__left--bookmarked-icon {
            background-color: rgba(0, 123, 255, 0.1);
            color: rgb(0, 123, 255);
            border: 2px solid rgb(0, 123, 255);
        }
    }
}


.post__center {
    height: auto;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0 0 1px var(--card-border);
}

.post__center--image-thumb {
    height: 350px;
    
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
}

.post__center--main {
    padding: 2rem 3rem;
    // border: 1px solid #bebebe;
    // box-shadow:  0 0 0 1px rgba(9,9,9,0.1);
}

.post__center--write-by {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post__center--avatar-write-by {
    width: 40px;
    height: 40px;
    vertical-align: middle;
    border-radius: 50%;
    margin-right: 15px;
    background-size: cover;
    // float: left;
    background-position: center;
}

.post__center--name-write-by {
    display: block;
    margin: auto 0;
}

.post__center--date-write-by {
    font-size: small;
    margin: auto 0;

}

.post__center--content {
    img{
        object-fit: contain !important;
        width: 100%;
    }
}

.post__sidebar-right {
    display: block;
}

// .post__right {
    // position: fixed;
    // width: 340px;
// }

.post__right--author-infor {
    background-color: white;
    border-radius: 5px;
    border-top: 30px solid #000;
    padding: 0 15px 15px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 0 1px var(--card-border);
}

.post__right--author-name {
    margin-top: -20px;
    height: fit-content;
    height: 70px;
    h2 {
        margin-top: 10px;
    }
}

.post__right--author-more-infor {
    label {
        color: var(--color-muted);
        font-size: 0.75rem;
        font-weight: 700;
    }
}

.comment__input-submit {
    box-sizing: border-box;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid rgb(225, 225, 225);
    font-size: 16px;
    padding: 15px 10px ;
    flex-grow: 1;
    background-color: #ffffff;
    min-height: 100px;
    line-height: 24px;
    margin-bottom: 10px;
    outline-color: var(--color-primary);
}

.comment__content--container {
    background-color: #ffffff;
    padding: 15px 10px 0px 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    border: 1px solid rgb(225, 225, 225);
    flex-grow: 1;
    margin-bottom: 10px;
}


.comment__child {
    padding-left: 50px;
}

.post__right--author-follow {
    margin: 20px 0px;
    button {
        width: 100%;
        border: none !important;
        
    }
    
    .post__right--follow-btn {
        background-color: var(--color-primary);
        &:hover {
            background-color: #2e44d3;
        }
    }
}