.author__infor--count {
    justify-content: space-between;
}

.author__infor--count .count__div {
    text-align: center;
}

.editProfile__avatar {
    width: 100px;
    height: 100px;
    overflow: hidden;
    position: relative;
    /* margin: 15px auto; */
    border: 1px solid #ddd;
    border-radius: 50%;
    cursor: pointer;
}

.editProfile__avatar img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}


.editProfile__avatar span {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: #fff8;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    color:  var(--color-muted);
    transition: 0.3s  ease-in-out;
}

.editProfile__avatar:hover span {
    bottom: -15%;
}


.editProfile__avatar #file_up {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
}


.editProfile__avatar i {
    left: 35px;
    cursor: pointer;
}


.editProfile__choice {
    display: flex;
    flex-direction: column;
    
}

.editProfile__choice button {
    font-size: 15px;
    font-weight: 400;
    text-align: start;
    padding: 10px;
    background-color: white;
    outline: none;
    border: none;
    border-right:3px solid var(--color-muted);
}

.editProfile__choice .active {
    color: var(--color-primary);
    font-weight: 600;
    border-right: 3px solid var(--color-primary);
}

.editProfile__field-warning {
    padding: 10px;
    width: 80%;
    background-color: var(--color-muted);
    color: white;
}
.editProfile__field-warning p {
    margin: 0 !important;
    font-weight: 400 !important;
}


.editProfile__field {
    margin-bottom: 25px;
}

.editProfile__field p {
    margin-bottom: 7px;
    font-weight: 600;
}

.editProfile__field input {
    outline: none;
    padding: 5px 25px ;
    width: 80%;
    border: 1px solid var(--color-muted);
    border-radius: 5px;
    color:  var(--color-muted);
}

.editProfile__field i {
    position: absolute;
    padding-top: 10px;
    padding-left: 6px;
    width: 20px;
    opacity: 0.5;
}

.editProfile__field textarea {
    width: 80%;
}

.editProfile__submitBtn {
    font-size : 15px;
    font-weight: 300;
    padding: 3px 20px;
    border: 1px solid white;
    color: white;
    background-color: var(--color-primary);
    border-radius: 20px;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.2);
    transition: 0.2s;
}


.editProfile__submitBtn:hover {
    transform: translate(0px, -2px);
}



.myprofile__draft {
    width: 100%;
    height: 120px;
    background-color: white;
    margin-bottom: 10px;
    border-radius: 16px;
    padding: 16px;
    transition: 0.3s;
    box-shadow: 3px 3px 03px 0px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.author__social i {
    font-size: 20px;
    cursor: pointer;
}


.author__social .fa-instagram {
    color: brown;
    margin-right: 5px;
}

.myprofile__draft:hover {
    transform: translate(0px, -3px);
}

.myprofile__draft button{
    padding: 2px 8px;
    
    background-color: var(--color-background);
    outline: none;
    border-radius:  10px;
}

.myprofile__draft button i {
    margin-right: 5px;
}


.myprofile__draft .child-1 {
    margin-right: 10px;
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
}

.myprofile__draft .child-2 {
    border: 1px solid var(--color-deep-red);
    color: var(--color-deep-red);
} 

.myprofile__choice {
    display: flex;
    justify-content: center;
    margin-top: 10px;

}

.myprofile__choice button {
    padding: 4px 3px;
    outline: none;
    border: 1px solid var(--color-muted);
    background-color: var(--color-background);
    color: var(--color-muted);
}
.myprofile__choice .child-2 {
    flex-basis: 50%;
    border-radius: 0px 10px 10px 0px;
}

.myprofile__choice .child-1 {
    flex-basis: 50%;

    border-right: 0px;
    border-radius: 10px 0px 0px 10px;
}

