.currentPost__cataArea {
    display: flex;
    flex-direction: row;
}

.currentPost__cata {
    font-size: 13px;
    padding: 1px 7px;
    margin-right: 7px;
    border: 1px solid #b3d7ff;
    /* background: rgb(0 123 255 / 50%); */
    background-color: #8e97ff;
    border-radius: 3px;
    color: #212529;
}

