.ck-editor__editable {
    max-height: 500px;
    min-height: 500px;
}

.newpost {
    height: auto;
}

.newpost__input {
    padding: 10px;
    width: 100%;
    margin: 20px 0;
    outline: none;
    border: none;
    border-bottom: 1px solid #ddd;
    font-weight: 600;
    font-size: x-large;
    background-color: var(--color-background);
}

.newpost__submitBtn {
    margin-top: 10px;
    padding: 5px 14px;
    border-radius: 20px;
    border: 1px solid var(--color-primary) !important;
    background-color: var(--color-primary);
    color: var(--color-white);
    outline: none !important;
    transition: 0.3s;
}

.newpost button:hover {
    transform: translate(0px, -3px);
}


.newpost__thumnailBtn {
    padding: 3px 5px;
    cursor: pointer;
    font-style: italic;
}

.newpost__thumnailBtn i {
    margin-right: 5px;
}


div.DraftEditor-root {
    background-color: white;
    height: 90vh;
    /* overflow-y: auto; */
  }
  div.DraftEditor-editorContainer,
  div.public-DraftEditor-content {
    height: 100%;
  }
  
