* {
  margin: 0;
  padding: 0;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/* font: inherit; */
	vertical-align: baseline;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --color-white: #fff;
  --color-primary : #5869DA;
  --color-muted: #687385;
  --box-shadow-normal: 0 10px 10px rgba(0,0,0,0.08);
  --box-shadow-hover: 0 4px 60px 0 rgba(0,0,0,0.2);
  --button-shadow-color-normal: hsla(0,0%,42.4%,0.2);
}


a:hover{
  text-decoration: none;
}

ul{
  list-style: none;
}



.App {
  /* max-width: 1200px; */
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}


.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}
/* @media (min-width: 576px){
  .container {
      max-width: 540px;
  }
}

@media (min-width: 768px){
  .container {
      max-width: 720px;
  }
}

@media (min-width : 992px){
  .container {
      max-width: 960px;
  }
}
@media (min-width: 1200px){
  .container {
      max-width: 1200px;
  }
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
} */
.row-1 {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

@media (min-width: 992px){
  .widget-area {
    padding-left: 30px;
  }
}

.mt-5 {
  margin-top: 5px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mt-10 {
  margin-top: 10px;
}


.mb-40 {
  margin-bottom: 40px;
}

.mb-50 {
  margin-top: 50px;
}


.ml-30 {
  margin-left: 30px;
}

.mr-30 {
  margin-right: 30px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.ml-15 {
  margin-left: 15px;
}

.pt-15 {
  padding-top: 15px;
}
.pt-30 {
  padding-top: 30px;
}
.p-30 {
  padding: 30px;
}



.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}


.pb-30 {
  padding-bottom: 30px;
}

.pr-30 {
  padding-right: 30px;
}

.pl-30 {
  padding-left: 30px;
}

@import url("./users/header/header.css");
@import url("./users/body/auth/auth.css");
@import url("./users//footer//footer.css");
/* @import url("./users//body/home/home.css"); */
@import url("./users//body/newPosts/newposts.css");
